<%= form_tag handle_new_rule_path, method: :get do %>

    <div class="form-group row">

        <div class="col-sm-9 mt-4 mb-4">
            <%= text_field_tag :value, params[:value], class: "form-control shadow rounded", placeholder:"Enter keywords by which to search tweets ex. energy market policy " %>
        </div>

        <div class="col-sm-9 mt-4 mb-4">
            <%= text_field_tag :tag, params[:tag], class: "form-control shadow rounded", placeholder:"Enter category name under which tweeets will appear on dashboard ex. texas energy policy" %>
        </div>
        <div class="col-sm-9 mt-4 mb-4">
            <%= button_tag type: :submit,  class: "btn btn-success mt-4 mb-4"  do %>
                <%= 'Create Rule' %>
            <% end %>
        </div>

    </div>
    
<% end %>