<div class="container text-center">
    <h1 class='mt-4 mb-4'> Most Popular Tweets </h1>

    <% top_texas_tweets = Tweet.where("tag = 'texas policy'").select(:tweet_text, :retweet_count, :tweet_id).distinct.order('retweet_count DESC').limit(10)%>
    <% top_texas_tweets.each do |tweet| %>
        <div class="card mt-4 mb-4">
                <div class="card-header" id="homepage-card-header">
                    <h3> Top Texas Policy Tweets </h3>
                </div>
                <div class="card-body mt-4 mb-4">
                    <%= tweet.tweet_text %> 
                </div>
                <div class="card-footer">
                
                    Retweets: <%= tweet.retweet_count %>
                    --
                    Tweet ID: <%= tweet.tweet_id %>
                    --
                    Tweet URL:
                </div>
         </div>
    <% end %> 

    <% general_energy_tweets = Tweet.where("tag = 'general energy sentiment'").order('retweet_count DESC').limit(10) %>
    <% general_energy_tweets.each do |tweet| %>
        <div class="card mt-4 mb-4">
                <div class="card-header" id="homepage-card-header">
                    <h3> Top General Energy Sentiment Tweets </h3>
                </div>
                <div class="card-body mt-4 mb-4">
                    <%= tweet.tweet_text %> 
                </div>
                <div class="card-footer">
                
                    Retweets: <%= tweet.retweet_count %>
                    --
                    Tweet ID: <%= tweet.tweet_id %>
                    --
                    Tweet URL:
                </div>
         </div>
    <% end %> 
        
</div>

